<configuration>

    <!--triggering policy не работает с TimeBasedRollingPolicy-->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--<file>C:\Users\tmitri\IdeaProjects\ticketer\logs\appLog.log</file>-->
        <file>C:\Users\tmitri\IdeaProjects\ticketer\logs\appLog.log</file>
         <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
             <fileNamePattern>C:\Users\tmitri\IdeaProjects\ticketer\logs\appLog.%i.log.zip</fileNamePattern>
             <minIndex>1</minIndex>
             <maxIndex>20</maxIndex>
         </rollingPolicy>
         <!--TODO после тестирования логгирования увеличить maxFileSize-->
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>200MB</maxFileSize>
        </triggeringPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%X{sourceThread}] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <!--асинхронный логгер -->
    <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="FILE" />
        <discardingThreshold>0</discardingThreshold>
    </appender>

    <root level="info">
        <appender-ref ref="ASYNC" />
        <!--<appender-ref ref="STDOUT" />-->
    </root>

</configuration>