.event-section{
    background-color: lightblue;
    margin: 50px 10px;
    border: 1px solid;
}
.event-name{
    background-color: lightgray;
    text-align: center;
    border: 1px solid;
}
.market-section{
    display: inline-block;
    margin: 20px;
}
.market-name{
    text-align: center;
}
.main-info{
    text-align: center;
}