<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/task
       http://www.springframework.org/schema/task/spring-task-3.0.xsd
">

    <bean id="taskRepository" class="ru.splat.facade.shedule.repository.TaskRepository"/>

    <bean id="cleaningTablePunterIdemp" class="ru.splat.facade.shedule.SheduleCleaningDB">
        <property name="tableName" value="punter_idemp"/>
        <property name="timeLimit" value="180000"/>
    </bean>

    <bean id="cleaningTableBillingIdemp" class="ru.splat.facade.shedule.SheduleCleaningDB">
        <property name="tableName" value="billing_idemp"/>
        <property name="timeLimit" value="180000"/>
    </bean>

    <bean id="cleaningTableBetIdemp" class="ru.splat.facade.shedule.SheduleCleaningDB">
        <property name="tableName" value="bet_idemp"/>
        <property name="timeLimit" value="180000"/>
    </bean>

    <bean id="cleaningTableEventIdemp" class="ru.splat.facade.shedule.SheduleCleaningDB">
        <property name="tableName" value="event_idemp"/>
        <property name="timeLimit" value="180000"/>
    </bean>

    <task:scheduler id="cleanerSheduler"/>
    <task:scheduled-tasks scheduler="cleanerSheduler">
        <task:scheduled ref="cleaningTablePunterIdemp" method="cleanTable" fixed-rate="1200000"/>
        <task:scheduled ref="cleaningTableBillingIdemp" method="cleanTable" fixed-rate="1200000"/>
        <task:scheduled ref="cleaningTableBetIdemp" method="cleanTable" fixed-rate="1200000"/>
        <task:scheduled ref="cleaningTableEventIdemp" method="cleanTable" fixed-rate="1200000"/>
    </task:scheduled-tasks>

</beans>