<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
">

    <bean id="punterIdempRepository" class="ru.splat.facade.repository.ExactlyOnceRepositoryImpl">
        <property name="tableName" value="punter_idemp"/>
    </bean>

    <bean id="punterRepository" class="ru.splat.Punter.repository.PunterRepository"/>

    <bean id="businessService" class="ru.splat.Punter.business.PunterBusinessService"/>

    <bean id="punterService" class="ru.splat.facade.service.ServiceFacade">
        <property name="businessService" ref="businessService"/>
        <property name="exactlyOnceRepository" ref="punterIdempRepository"/>
    </bean>

    <bean id="billingRepository" class="ru.splat.Billing.repository.BillingRepository"/>
    <bean id="billingBusinessService" class="ru.splat.Billing.business.BillingBusinessService"/>
    <bean id="billingIdempRepository" class="ru.splat.facade.repository.ExactlyOnceRepositoryImpl">
        <property name="tableName" value="billing_idemp"/>
    </bean>

    <bean id="billingService" class="ru.splat.facade.service.ServiceFacade">
        <property name="businessService" ref="billingBusinessService"/>
        <property name="exactlyOnceRepository" ref="billingIdempRepository"/>
    </bean>


    <bean id="betRepository" class="ru.splat.Bet.repository.BetRepository"/>
    <bean id="betIdempRepository" class="ru.splat.facade.repository.ExactlyOnceRepositoryImpl">
        <property name="tableName" value="bet_idemp"/>
    </bean>
    <bean id="betBusinessService" class="ru.splat.Bet.business.BetBusinessService"/>

    <bean id="betService" class="ru.splat.facade.service.ServiceFacade">
        <property name="businessService" ref="betBusinessService"/>
        <property name="exactlyOnceRepository" ref="betIdempRepository"/>
    </bean>

    <bean id="eventRepository" class="ru.splat.Event.repository.EventRepository"/>
    <bean id="eventIdempRepository" class="ru.splat.facade.repository.ExactlyOnceRepositoryImpl">
        <property name="tableName" value="event_idemp"/>
    </bean>
    <bean id="eventBusinessService" class="ru.splat.Event.business.EventBusinessService"/>

    <bean id="eventService" class="ru.splat.facade.service.ServiceFacade">
        <property name="businessService" ref="eventBusinessService"/>
        <property name="exactlyOnceRepository" ref="eventIdempRepository"/>
    </bean>

    <bean id="betWrapper" class="ru.splat.Bet.wrapper.BetWrapper"
          p:service-ref="betService"
    />
    <bean id="punterWrapper" class="ru.splat.Punter.wrapper.PunterWrapper"
          p:service-ref="punterService"
    />
    <bean id="billingWrapper" class="ru.splat.Billing.wrapper.BillingWrapper"
          p:service-ref="billingService"
    />
    <bean id="eventWrapper" class="ru.splat.Event.wrapper.EventWrapper"
          p:service-ref="eventService"
    />

</beans>